@mixin truco-button {
  width: fit-content;
  font-size: 1.2rem;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-family: "VintageFaith", sans-serif;
  font-size: 1.2rem;
  padding: 2px 3rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.2s;

  &:hover {
    background-color: #fff;
  }

  &:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  &:disabled {
    filter: brightness(80%);
    cursor: wait;
  }
}
