@mixin truco-input {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
  font-family: "VintageFaith", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.2s;
  outline: none;

  &::placeholder {
    color: #999;
  }

  &:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  &[type="password"] {
    font-family: sans-serif;

    &::placeholder {
      font-family: "VintageFaith", sans-serif;
    }
  }

  @media (min-width: 768px) {
    min-width: 120px;
    padding: 0 25px;
    display: inline;
    margin: 0 3rem;
  }

}
