@import '../../styles/buttons.scss';
@import '../../styles/input.scss';

.code-input {
  @include truco-input;
  width: 60%;

  //Eliminar error en padding con los botones del navegador
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  appearance: textfield;
}

h2 {
  color: #fafafa;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.button-74 {
  @include truco-button;
  width: min-content;
  padding: 0 18px;
}

@media (min-width: 768px) {
  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  .code-input {
    max-width: 400px;
  }

  .button-74 {
    font-size: 1.3rem;
    line-height: 50px;
    padding: 0 2rem;
  }
}
